<div
  data-component="instant-search-product-filter-widget"
  data-query-keyword="q"
  data-collection-id="{{ collection.id }}"
  data-on-after-add-to-cart="onAfterAddToCart"
  data-on-after-add-wishlist="onAfterAddWishlist"
  data-on-after-remove-wishlist="onAfterRemoveWishlist"
  data-on-after-render-product="onAfterRenderProduct">
  <div data-component="custom-components" data-render-product-card="renderProductCards"></div>
</div>