<div
  data-component="instant-search-icon-widget"
  data-icon-size="sm"
  data-on-after-add-to-cart="onAfterAddToCart"
  data-on-after-add-wishlist="onAfterAddWishlist"
  data-on-after-remove-wishlist="onAfterRemoveWishlist"
  data-on-after-render-product="onAfterRenderProduct"
  class="header__icon hover:opacity-75 mt-[-1px]">
  <div
    data-component="custom-components"
    data-render-product-card="renderProductCards"
    data-render-suggestion-keyword-list="renderSuggestionKeywordLists"
    data-render-other-index-list="renderOtherIndexLists"
    data-render-search-view-more-result="renderSearchViewMoreResult"></div>
</div>