{% comment %} on page content https://admin.shopify.com/store/sledge-demo-store/pages/127351587094 {% endcomment %}

<div
  data-component="wishlist-widget"
  data-query-share-id="share"
  data-custom-route-page="/pages/wishlist"
  data-on-after-add-wishlist="onAfterAddWishlist"
  data-on-after-remove-wishlist="onAfterRemoveWishlist"
  data-on-after-render-product="onAfterRenderProduct">
  <div data-component="custom-components" data-render-product-card="renderProductCards"></div>
</div>