<div
  data-component="product-review-widget"
  data-product-id="{{ product.id }}"
  data-product-variant-id="{{ product.selected_or_first_available_variant.id }}"
  data-on-after-add-review="onAfterAddReview"></div>