<div class="bg-dark2 pb-[32px] mt-[48px] lg:mt-[120px]">
  <div class="max-w-[1170px] mx-auto px-5 lg:px-20 xl:px-0 pt-[53px]">
    <div class="max-w-fit mb-[24px]">
      <a href="/">
        {% render 'sledge-logo' %}
      </a>
    </div>
    <div class="flex flex-wrap justify-between gap-y-[50px] flex-col xl:flex-row">
      <div class="max-w-[419px]">
        <p class="text-[14px] md:text-[16px] leading=[25.6px] tracking-[-0.32px] font-inter text-[#B7B7B7]">
          Build instant search, product filters, wishlist, product review, etc. for your store using your preferred tech stacks — in just a few minutes.
        </p>
      </div>
      <ul class="flex [flex:_0_255px] flex-col flex-wrap  gap-y-[24px] h-[200px] text-[14px] md:text-[16px] leading-[22.4px] tracking-[-0.32px] font-inter">
        <li class="w-auto md:w-[127.5px]">
          <a class="text-[#B7B7B7] font-inter hover:text-green transition duration-200" href="/collections/summer-collection">Summer</a>
        </li>
        <li class="w-auto md:w-[127.5px]">
          <a class="text-[#B7B7B7] font-inter hover:text-green transition duration-200" href="/collections/winter-collection">Winter</a>
        </li>
        <li class="w-auto md:w-[127.5px]">
          <a class="text-[#B7B7B7] font-inter hover:text-green transition duration-200" href="/collections/spring-collection">Spring</a>
        </li>
        <li class="w-auto md:w-[127.5px]">
          <a class="text-[#B7B7B7] font-inter hover:text-green transition duration-200" href="/collections/autumn-collection">Autumn</a>
        </li>
        <li class="w-auto md:w-[127.5px]">
          <a class="text-[#B7B7B7] font-inter hover:text-green transition duration-200" href="/cart">Cart Page</a>
        </li>
        <li class="w-auto md:w-[127.5px]">
          <a class="text-[#B7B7B7] font-inter hover:text-green transition duration-200" href="/pages/search-result?q=">Search Page</a>
        </li>
        <li class="w-auto md:w-[127.5px]">
          <a class="text-[#B7B7B7] font-inter hover:text-green transition duration-200" href="/collections/all">All Products</a>
        </li>
        <li class="w-auto md:w-[127.5px]">
          <a class="text-[#B7B7B7] font-inter hover:text-green transition duration-200" href="/collections">All Collections</a>
        </li>
      </ul>
    </div>
    <div class="flex  justify-between mt-[59.8px] font-inter flex-col md:flex-row items-center gap-y-4">
      <div>
        <p class="text-[12px] md:text-[16px] leading-[26px] tracking-[-0.02em] text-[#B7B7B7]">
          Sledge Demo Store - Powered by Shopify
        </p>
      </div>
      <ul class="flex text-[#B7B7B7] [&>*:nth-child(1)]:before:content-[''] [&>*:nth-child(1)]:before:ml-0 [&>*:nth-child(1)]:before:mr-0 text-[12px] md:text-[16px] leading-[26px] tracking-[-0.02em]">
        <li class="before:content-['|'] before:ml-2 before:mr-2">
          <a class="text-[#B7B7B7] font-inter hover:text-green transition duration-200" href="https://sledge-app.com/supports/privacy-policy">Privacy Policy</a>
        </li>
        <li class="before:content-['|'] before:ml-2 before:mr-1">
          <a class="text-[#B7B7B7] font-inter hover:text-green transition duration-200" href="https://sledge-app.com/supports/terms-conditions">Terms & Conditions</a>
        </li>
      </ul>
    </div>
  </div>
</div>