<div class="max-w-[1170px] mx-auto px-5 lg:px-20 xl:px-0 pt-[1.9rem]">
  <div class='flex gap-[50px] flex-col lg:flex-row'>
    <div class="hidden lg:flex relative w-full max-w-full lg:max-w-[500px] h-[100vw] md:h-[560px] rounded-[32px]">
      <span aria-hidden="true" class="absolute inset-0">
        <img src="/cdn/shop/t/3/assets/creative-fashion-design-men-casual-clothing-set-accessories.png" class="h-full w-full object-cover object-center rounded-[32px]">
      </span>
    </div>
    <div class='flex flex-col flex-auto lg:mt-[20px]'>
      <div class="">
        <h1 class="font-bold text-[24px] md:text-[48px] md:leading-[52.8px] mb-[12px]">Create an Account</h1>
        <p class="max-w-[594px] font-inter font-medium text-[12px] md:text-[16px] leading-[25.6px] tracking-[-0.32px] text-dark4">
          By creating an account, you gain access to a range of benefits and exclusive features. Join our community today and enjoy the convenience of a customized shopping journey.
        </p>
      </div>
      {%- form 'create_customer', novalidate: 'novalidate' -%}
        <div class='mt-[20px] md:mt-[40px] gap-[40px] flex flex-col'>
          <div class="space-y-12">
            <div class="grid grid-cols-1 gap-[20px] md:gap-[28px] sm:grid-cols-6 md:col-span-2">
              <div class="sm:col-span-3">
                <label for="RegisterForm-FirstName" class="sr-only">First Name</label>
                <input
                  type="text"
                  name="customer[first_name]"
                  id="RegisterForm-FirstName"
                  autocomplete="given-name"
                  placeholder="First Name"
                  required=""
                  class="block bg-dark2 border-none pl-[24px] text-[14px] md:text-[16px] focus:ring-inset focus:border focus:border-solid focus:border-green appearance-none rounded-[12px] focus:ring-0 w-full py-[22px] text-dark4 placeholder:text-dark4 leading-tight focus:shadow-outline ">
              </div>
              <div class="sm:col-span-3">
                <label for="RegisterForm-LastName" class="sr-only">Last Name</label>
                <input
                  type="text"
                  name="customer[last_name]"
                  id="RegisterForm-LastName"
                  autocomplete="family-name"
                  autocorrect="off"
                  autocapitalize="off"
                  placeholder="Last Name"
                  required=""
                  class="block bg-dark2 border-none pl-[24px] text-[14px] md:text-[16px] focus:ring-inset focus:border focus:border-solid focus:border-green appearance-none rounded-[12px] focus:ring-0 w-full py-[22px] text-dark4 placeholder:text-dark4 leading-tight focus:shadow-outline ">
              </div>
              <div class="col-span-full">
                <label for="RegisterForm-email" class="sr-only">Email</label>
                <input
                  type="email"
                  name="customer[email]"
                  id="RegisterForm-email"
                  spellcheck="false"
                  autocapitalize="off"
                  autocomplete="email"
                  aria-required="true"
                  autocorrect="off"
                  placeholder="Email &quot;example@gmail.com&quot;"
                  required=""
                  class="block bg-dark2 border-none pl-[24px] text-[14px] md:text-[16px] focus:ring-inset focus:border focus:border-solid focus:border-green appearance-none rounded-[12px] focus:ring-0 w-full py-[22px] text-dark4 placeholder:text-dark4 leading-tight focus:shadow-outline ">
              </div>
              <div class="col-span-full">
                <label for="RegisterForm-password" class="sr-only">Email</label>
                <input
                  type="password"
                  name="customer[password]"
                  id="RegisterForm-password"
                  aria-invalid="true"
                  placeholder="Password"
                  required=""
                  class="block bg-dark2 border-none pl-[24px] text-[14px] md:text-[16px] focus:ring-inset focus:border focus:border-solid focus:border-green appearance-none rounded-[12px] focus:ring-0 w-full py-[22px] text-dark4 placeholder:text-dark4 leading-tight focus:shadow-outline ">
              </div>
            </div>
          </div>
          <div class="flex flex-wrap items-center gap-[20px] md:gap-[24px]">
            <p class="w-fit font-inter font-medium text-[12px] md:text-[16px] leading-[25.6px] tracking-[-0.32px] text-dark4">
              Already have an account?
              <a href="/account/login" class="ml-[1px] text-yellow underline button-hover-state">Login</a>
            </p>
            <div class="lg:w-fit flex items-center text-white justify-center gap-x-6 lg:justify-start hover:opacity-70 transition duration-200 mt-0 !w-fit">
              <button type="submit" class="h-fit font-semibold text-black bg-green font-inter text-[14px] leading-[15.4px] tracking-[-0.56px] py-[10px] md:py-[12px] px-[14px] md:px-[16px] rounded-[323.9px] disabled:opacity-70 ">Create Account
                <svg
                  class="inline ml-[10px]"
                  width="17"
                  height="17"
                  viewBox="0 0 17 17"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M10.2373 4.00146L14.3333 8.09745L10.2373 12.1934"
                    stroke="black"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path
                    d="M2.86133 8.09766H14.2181"
                    stroke="black"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </button>
            </div>
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>