# These variables are only available locally in MiniOxygen

SESSION_SECRET="foobar"
PUBLIC_STOREFRONT_API_TOKEN=""
PUBLIC_STORE_DOMAIN=""

# Using Contact Us form App
PRIVATE_ADMIN_API_TOKEN=""
PRIVATE_ADMIN_API_VERSION=""

# Sledge Api key
SLEDGE_API_KEY=""
SLEDGE_INSTANT_SEARCH_API_KEY=""

# Google Analytics ID
GA_TRACKING_ID=""
